body {
    margin: 0;
    background-color: MistyRose ;
  }
  
  .project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .project {
    width: 300px;
    height: 300px;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .overlay {
    background-color: LightSlateGray;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }

  .text {
      padding-bottom: 50px;
      padding-top: 50px;

  }

  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    color: LightSlateGray ;
  }

  p {
    font-family: 'Open Sans Condensed', sans-serif;  
    font-size: 20px;
    color: LightSlateGray ;
  }
  
  .overlay:hover p {
    transform: translateX(0);
  }
  
  .overlay:hover {
    opacity: 1;
  }
  
  .project h3 {
    margin: 0;
  }
  
  .project p {
    margin: 0;
    transform: translateX(100px) rotate(90deg);
    transition: transform 0.4s ease-out;
  }
  
  .project-1 {
    background-image: url("https://i.imgur.com/cy5WscU.jpg");
    width: 33%;
    margin: 2px;

  }
  
  .project-2 {
    background-image: url("https://i.imgur.com/KV3aYdo.jpg");
    width: 33%;
    margin: 2px;

  }
  
  .project-3 {
    background-image: url("https://i.imgur.com/HcMsBEq.jpg");
    width: 33%;
    margin: 2px;

  }
  
  .project-4 {
    background-image: url("https://i.imgur.com/88UwB5a.jpg");
    width: 33%;
    margin: 2px;
  }
  
  .project-5 {
    background-image: url("https://i.imgur.com/TNd3iwT.jpg");
    width: 33%;
    margin: 2px;
  }
  
  .project-6 {
    background-image: url("https://i.imgur.com/a4Op0vz.jpg");
    width: 33%;
    margin: 2px;
  }
  .project-7 {
    background-image: url("https://i.imgur.com/CD9oFWY.jpg");
    width: 33%;
    margin: 2px;
  }
  
  .project-8 {
    background-image: url("https://i.imgur.com/Lu4gxK9.jpg");
    width: 33%;
    margin: 2px;
  }
  
  .project-9 {
    background-image: url("https://i.imgur.com/PwOkwTV.jpg");
    width: 33%;
    margin: 2px;
  }
  
  .project-10 {
    background-image: url("https://i.imgur.com/hR7eeo6.jpg");
    width: 33%;
    margin: 2px;
  }
  
  .project-11 {
    background-image: url("https://i.imgur.com/c9PzWoi.jpg");
    width: 33%;
    margin: 2px;
  }
  
  .project-12 {
    background-image: url("https://i.imgur.com/4vazXOd.jpg");
    width: 33%;
    margin: 2px;
  }

  